@import "../../scss/global.scss";

.dropdown {
    box-shadow: 0px 0px 4px 1px #616161a4;
    background: rgb(251, 251, 251);
    cursor: pointer;
    user-select: none;
    font-family: Arial;
    
    &__body-item {
        transition: .165s;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px #616161a4;
        background: rgb(245, 245, 245);
        font-weight: 450;
        &:hover {
            font-weight: bold;
            background-color: rgb(243, 127, 73);
        }
        &:active {
            background-color: rgb(255, 192, 140);
        }
    }
    
    .flex {
        transition: .165s;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px #616161a4;
        background: rgb(252, 252, 252);
        font-weight: bold;
        &:hover {
            background-color: rgb(243, 127, 73);
        }
        &:active {
            background-color: rgb(255, 154, 71);
        }

        .icon {
            position: absolute;
            right: 28px;
            top: 28px;
            width: 30px;
            float: right;
            margin-left: auto;
            transition: .2s;
            
            &.rotated {
                right: 28px;
                top: 25px;
                transform: rotateX(180deg);
            }
        }
    }
    .flex, &__body-item {
        line-height: $text-medium-line-height__desktop;
        font-size: $text-medium-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-medium-font-size__mobile;
            line-height: $text-medium-line-height__mobile;
        }
    }
}