@import "../../scss/global.scss";

.radio {
    .flex {
        gap: 10px;
        &-input {
            margin-right: 10px;
            transform: translateY(1px);
        }
    }
    &__headline {
        font-weight: 300;
    }
    &__headline-checked {
        font-weight: 900;
    }
    line-height: $text-medium-line-height__desktop;
    font-size: $text-medium-font-size__desktop;
    @media only screen and(max-width: $breakpoint_mobile) {
        font-size: $text-medium-font-size__mobile;
        line-height: $text-medium-line-height__mobile;
    }
}