@import "../../scss/global.scss";

.button {
    transition: .18s;
    min-width: 280px;
    line-height: 40px;
    height: 46px;
    color: #999;
    border-radius: 2px;
    border: 1px solid transparent;
    background: #fafafa;
    box-shadow: 1px 1px 2px 1px #7a7a7a;
    outline: none;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(252, 155, 99);
        color: rgb(110, 110, 110);
        transform: scale(1.085);
    }
    
    &:active {
        background-color: rgb(253, 108, 63);
        color: rgb(66, 66, 66);
        transform: scale(0.985);
    }

        // font settings
        line-height: $text-medium-line-height__desktop;
        font-size: $text-medium-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-medium-font-size__mobile;
            line-height: $text-medium-line-height__mobile;
        }
}
