@import "../../scss/global.scss";

.list {
    &__item {
        line-height: $text-medium-line-height__desktop;
        font-size: $text-medium-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-medium-font-size__mobile;
            line-height: $text-medium-line-height__mobile;
        }
    }
}