@import "../../scss/global.scss";

$switch-width: 70px;
$slider-width: 30px;
$slider-margin: 4px;

.switch {
    transition: .5s;
    display: block;
    cursor: pointer;
    height: calc(#{$switch-width} / 2);
    width: $switch-width;
    border-radius: 34px;
    
    &__active {
        background: rgb(74, 179, 240);
        box-shadow: 1px 1px 3px 1px #3e81a0a4;
    }
    &__inactive {        
        box-shadow: 1px 1px 3px 1px #8a8a8aa4;
        background: rgb(122, 122, 122);
    }
}

.slider {
    transition: .5s;
    cursor: inherit;
    height: $slider-width;
    width: $slider-width;
    border-radius:  $slider-width;
    margin: 0px $slider-margin 0 $slider-margin;
    &__active {
        transform: translateY(2.5px) translateX( calc((#{$switch-width} - #{$slider-width} ) - (2 * #{$slider-margin})) );   
        background-color: rgb(160, 208, 236);
    }
    &__inactive {
        transform: translateY(2.5px) translateX(0px);   
        background-color: rgb(184, 184, 184);
    }
    transition: .5s;
}