@import "../../scss/global.scss";

.paragraph {
    font-family: "Arial";
    &.large {
        margin: 0 auto 40px auto;

        line-height: $text-large-line-height__desktop;
        font-size: $text-large-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-large-font-size__mobile;
            line-height: $text-large-line-height__mobile;
        }
        font-weight: 450;
    }
    &.medium {
        margin: 0 auto 30px auto;
        line-height: $text-medium-line-height__desktop;
        font-size: $text-medium-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-medium-font-size__mobile;
            line-height: $text-medium-line-height__mobile;
        }
        font-weight: 450;
    }
    &.small {
        margin: 0 auto 20px auto;
        line-height: $text-small-line-height__desktop;
        font-size: $text-small-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-small-font-size__mobile;
            line-height: $text-small-line-height__mobile;
        }
        font-weight: 450;
    }
}