@import "../../scss/global.scss";

.code {
    
    background-color: rgb(241, 241, 241);
    box-shadow: 1px 1px 3px 1px #8a8a8aa4;
    &__inline {
        display: inline-block;
        border-radius: 3px;
        padding: 1px 2px;
        margin: -2px 5px;
        font-size: calc(#{$text-small-font-size__mobile} - 2px);
        @media only screen and(min-width: $breakpoint_mobile) {
            font-size: calc(#{$text-small-font-size__desktop} - 2px);
        }
    }
    &__block {
        border-radius: 6px;
        &-text {
            padding: 30px;
            display: block;
            white-space: pre-wrap;
        }
    }
    &__headline {
        box-shadow: 1px 1px 3px 1px #8a8a8aa4;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 16px 20px;
        background-color: rgb(248, 248, 248);
        margin-bottom: 0;
    }
    
    // font settings
    font-family: monospace;
    line-height: $text-small-line-height__desktop;
    font-size: $text-small-font-size__desktop;
    @media only screen and(max-width: $breakpoint_mobile) {
        font-size: $text-small-font-size__mobile;
        line-height: $text-small-line-height__mobile;
    }
}