@import "../../scss/global.scss";

.textbox {
    box-shadow: 1px 1px 2px 1px #7a7a7a;
    border: 1px solid transparent;
    outline: none;
    height: 40px;
    padding-left: 3px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;

    font-size: $text-medium-font-size__desktop;
    line-height: $text-medium-line-height__desktop;
    @media only screen and(max-width: $breakpoint_mobile) {
        line-height: $text-medium-line-height__mobile;
        font-size: $text-medium-font-size__mobile;
    }
}