@import "../../scss/global.scss";

.numberbox {
    box-shadow: 1px 1px 2px 1px #7a7a7a;
    border: 1px solid transparent;
    outline: none;
    padding-left: 3px;
    height: 40px;
    min-width: 115px;
    text-align: left;

    line-height: $text-medium-line-height__desktop;
    font-size: $text-medium-font-size__desktop;
    @media only screen and(max-width: $breakpoint_mobile) {
        font-size: $text-medium-font-size__mobile;
        line-height: $text-medium-line-height__mobile;
    }
}