@import "../../scss/global.scss";

.label {
    &__peak-left {
        margin-left: 8px;
    }
    &__peak-right {
        margin-left: -15px;
    }
    &__peak-left, &__peak-right {
        z-index: 1;
        position: relative;
        width: 20px;
        height: 20px;
        transform: translateY(8px) rotate(45deg);
        background: #FF6745;
        border-radius: 2px;
    }
    &__text {
        margin: 0 0 0 -15px !important;
        border-radius: 1.5px;
        color: rgb(240, 240, 240);
        min-height: 35px;
        vertical-align: middle;
        background: #FF6745;
        padding: 0 20px;
        padding-top: 5px;
        z-index: 2;
        font-weight: bold;
        position: relative;
        line-height: $text-medium-line-height__desktop;
        font-size: $text-medium-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-medium-font-size__mobile;
            line-height: $text-medium-line-height__mobile;
        }
    }

    display: flex;
}


body.theme__dark {
    .label {
        &__peak-left, &__peak-right {
            background: #dfdfdf;
        }
        &__text {
            color: rgb(63, 63, 63);
            background: #d6d6d6;
        }
    }
}