@import "../../scss/global.scss";

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    
    &__info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        box-shadow: 1px 1px 2px 1px #4d7b91;
    }
    &__warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
        box-shadow: 1px 1px 2px 1px #918b54;
    }
    &__error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        box-shadow: 1px 1px 2px 1px #744a4a;
    }
    &__success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
        box-shadow: 1px 1px 2px 1px #54855c;
    }
    
    &__message {
        margin-right: 25px;
        // font settings
        line-height: $text-medium-line-height__desktop;
        font-size: $text-medium-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-medium-font-size__mobile;
            line-height: $text-medium-line-height__mobile;
        }

        .headline {
            margin-bottom: 10px;
        }
        .paragraph {
            margin-bottom: 0px !important;
        }
    }

    &__icon {
        transition: 0.2s;
        cursor: pointer;
        position: absolute;
        right: 25px;
        width: 20px;
        opacity: 0.65;
        
        &:hover {
            transform: scale(0.85);
            opacity: 0.8;
        }
        
        &:active {
            transform: scale(0.7);
            opacity: 0.9;
        }
    }
}