@import "../../scss/global.scss";

.modal {
    color: rgb(70, 70, 70);
    background-color: rgb(235, 235, 235);
    position: absolute;
    box-shadow: 0px 0px 4px 1px #616161a4;

    &__icon {
        transition: 0.2s;
        cursor: pointer;
        position: absolute;
        right: 25px;
        top: 20px;
        width: 20px;
        opacity: 0.65;
        
        &:hover {
            transform: scale(0.85);
            opacity: 0.8;
        }
        
        &:active {
            transform: scale(0.7);
            opacity: 0.9;
        }
    }

    .headline {
        text-align: center;
        max-width: 640px;
        margin: -10px auto 20px auto;
        width: calc(100% - 100px);
    }
    .paragraph {
        max-width: 640px;
        text-align: center;
        margin: 0 auto;
        width: calc(100% - 100px);
    }
    .image {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        border: 3px solid black;
    }

    &__top {
        padding: 40px;
        top: 0;
        left: 0;
        width: calc(100% - 80px);
        max-height: calc(100% - 80px);
        overflow-y: auto;
    }
    
    &__bottom {
        padding: 40px;
        bottom: 0;
        left: 0;
        width: calc(100% - 80px);
        max-height: calc(100% - 80px);
        overflow-y: auto;
    }
    
    &__left {
        padding: 40px;
        left: 0;
        top: 0;
        max-width: 40%;
        height: calc(100% - 80px);
        overflow-y: auto;
    }
    
    &__right {
        padding: 40px;
        max-width: 40%;
        right: 0;
        top: 0;
        height: calc(100% - 80px);
        overflow-y: auto;
    }
    
    &__center {
        box-shadow: 1px 1px 3px 1px #61616196;
        padding: 40px 60px;
        top: 10%;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0%);
        overflow-y: auto;
    }

}
