@import "../../scss/global.scss";

// Thumb Variables
$thumb_border: 1px solid transparent;
$thumb_background: #e9e9e9;
$thumb_box-shadow: 2px 2px 3px #5050509d;
$thumb_height: 36px;
$thumb_width: 36px;
$thumb_border-radius: 36px;

// Active Thumb Variables
$thumb-active_border: 1px solid transparent;
$thumb-active_background: #f8a765;
$thumb-active_box-shadow: 2px 2px 3px #5050509d;

// Track Variables
$track_border: 1px solid transparent;
$track_box-shadow: 2px 2px 3px #5050509d;
$track_background: #7e7e7e;
$track_height: 7px;
$track_border-radius: 5px;

// Active Track Variables
$track-active_background: #8f775d;
$track-active_border: 1px solid transparent;
$track-active_box-shadow: 2px 2px 3px #5050509d;




// Hide default styles of Range
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}




// Create special styles of Thumb
input[type=range]::-webkit-slider-thumb {
    transition: .3s;
    height: $thumb_height;
    width: $thumb_width;
    border-radius: $thumb_border-radius;
    border: $thumb_border;
    background: $thumb_background;
    box-shadow: $thumb_box-shadow;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}
input[type=range]::-moz-range-thumb {
    transition: .3s;
    height: $thumb_height;
    width: $thumb_width;
    border-radius: $thumb_border-radius;
    border: $thumb_border;
    background: $thumb_background;
    box-shadow: $thumb_box-shadow;
    cursor: pointer;
}
input[type=range]::-ms-thumb {
    transition: .3s;
    height: $thumb_height;
    width: $thumb_width;
    border-radius: $thumb_border-radius;
    border: $thumb_border;
    background: $thumb_background;
    box-shadow: $thumb_box-shadow;
    cursor: pointer;
}
// Create special styles of active Thumb
input[type=range]:active::-webkit-slider-thumb {
    border: $thumb-active_border;
    background: $thumb-active_background;
    box-shadow: $thumb-active_box-shadow;
}
input[type=range]:active::-moz-range-thumb {
    border: $thumb-active_border;
    background: $thumb-active_background;
    box-shadow: $thumb-active_box-shadow;
}
input[type=range]:active::-ms-thumb {
    border: $thumb-active_border;
    background: $thumb-active_background;
    box-shadow: $thumb-active_box-shadow;
}




// Create special styles of Track
input[type=range]::-webkit-slider-runnable-track {
    height: $track_height;
    border-radius: $track_border-radius;
    border: $track_border;
    background: $track_background;
    box-shadow: $track_box-shadow;
    cursor: pointer;
    width: 100%;
    transition: .3s;
}
input[type=range]::-moz-range-track {
    height: $track_height;
    border-radius: $track_border-radius;
    border: $track_border;
    background: $track_background;
    box-shadow: $track_box-shadow;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}
input[type=range]::-ms-track {
    height: $track_height;
    border-radius: $track_border-radius;
    border: $track_border;
    background: $track_background;
    box-shadow: $track_box-shadow;
    width: 100%;
    border-width: 16px 0;
    cursor: pointer;
    color: transparent;
    transition: .3s;
}

// Create special styles of focussed Track
input[type=range]:active::-webkit-slider-runnable-track {
    background: $track-active_background;
    border: $track-active_border;
    box-shadow: $track-active_box-shadow;
}
input[type=range]:active::-moz-range-track {
    background: $track-active_background;
    border: $track-active_border;
    box-shadow: $track-active_box-shadow;
}
input[type=range]:active::-ms-track {
    background: $track-active_background;
    border: $track-active_border;
    box-shadow: $track-active_box-shadow;
}

//IE Specific Track Styling
input[type=range]::-ms-fill-lower {
    transition: .3s;
    background: $track-active_background;
    border: $track_border;
    border-radius: $track_border-radius;
    box-shadow: $track_box-shadow;
}
input[type=range]:active::-ms-fill-lower {
    background: $track-active_background;
}
input[type=range]::-ms-fill-upper {
    transition: .3s;
    background: $track-active_background;
    border: $track_border;
    border-radius: $track_border-radius;
    box-shadow: $track_box-shadow;
}
input[type=range]:active::-ms-fill-upper {
    background: $track-active_background;
}


// Styling of Pins
.range {
    &__container {
        width: 100%;
    }
    width: 100%;
    
    &__pins {
        position: relative;
        color: $track_background;
        text-align: left;
        height: 20px;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: -1px;
        margin-top: 10px;
        top: -10px;
        font-family: monospace;
    }
    
    &__pin-0 {
        width: 30px;
        color: $track_background;
        position: absolute;
        left: 0%;
        text-align: center;
    }
    &__pin-1 {
        width: 30px;
        color: $track_background;
        position: absolute;
        left: calc(25% - 15px);
    }
    &__pin-2 {
        width: 30px;
        color: $track_background;
        position: absolute;
        left: calc(50% - 15px);
    }
    &__pin-3 {
        width: 30px;
        color: $track_background;
        position: absolute;
        left: calc(75% - 15px);
    }
    &__pin-4 {
        width: 40px;
        color: $track_background;
        position: absolute;
        left: calc(100% - 30px);
    }
}

.wrapper {
    width: 600px;
    margin: 0 auto;
}