.flex {
    display: flex;
    gap: 20px;
    
    &__vertical {
        flex-direction: column;
    }
    
    &__horizontal {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .image {
        width: 200px !important;
    }
}
