@import "../../scss/global.scss";

.headline {
    font-family: "Eczar-Bold";
    margin-top: 0;

    &__TeaserXL {
        margin-bottom: 60px;
        font-weight: bold;
        stroke-width: 54px;
        font-size: $headline-teaserxl-font-size__desktop;
        line-height: $headline-teaserxl-line-height__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $headline-teaserxl-font-size__mobile;
            line-height: $headline-teaserxl-line-height__mobile;
        }
    }
    &__Teaser {
        margin-bottom: 55px;
        font-size: $headline-teaser-font-size__desktop;
        line-height: $headline-teaser-line-height__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $headline-teaser-font-size__mobile;
            line-height: $headline-teaser-line-height__mobile;
        }
    }

    &__XXLarge {
        margin-bottom: 40px;
        font-size: $headline-xxlarge-font-size__desktop;
        line-height: $headline-xxlarge-line-height__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $headline-xxlarge-font-size__mobile;
            line-height: $headline-xxlarge-line-height__mobile;
        }
    }
    &__XLarge {
        margin-bottom: 40px;
        font-size: $headline-xlarge-font-size__desktop;
        line-height: $headline-xlarge-line-height__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $headline-xlarge-font-size__mobile;
            line-height: $headline-xlarge-line-height__mobile;
        }
    }
    &__Large {
        margin-bottom: 30px;
        line-height: $headline-large-line-height__desktop;
        font-size: $headline-large-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $headline-large-font-size__mobile;
            line-height: $headline-large-line-height__mobile;
        }
    }
    &__Medium {
        margin-bottom: 30px;
        line-height: $headline-medium-line-height__desktop;
        font-size: $headline-medium-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $headline-medium-font-size__mobile;
            line-height: $headline-medium-line-height__mobile;
        }
    }
    &__Small {
        margin-bottom: 20px;
        font-size: $headline-small-font-size__desktop;
        line-height: $headline-small-line-height__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $headline-small-font-size__mobile;
            line-height: $headline-small-line-height__mobile;
        }
    }
    &__XSmall {
        margin-bottom: 20px;
        font-size: $headline-xsmall-font-size__desktop;
        line-height: $headline-xsmall-line-height__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            line-height: $headline-xsmall-line-height__mobile;
            font-size: $headline-xsmall-font-size__mobile;
        }
    }
}