@import "../../scss/global.scss";

.table {
    td, th {
        box-shadow: 0px 0px 4px 1px #8a8a8aa4;
        border-radius: 1px;
        text-align: left;
        padding: 8px 16px;
        padding-right: 24px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: $text-medium-line-height__desktop;
        font-size: $text-medium-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-medium-font-size__mobile;
            line-height: $text-medium-line-height__mobile;
        }
    }
    td {
        font-family: Arial, Helvetica, sans-serif;
        line-height: $text-small-line-height__desktop;
        font-size: $text-small-font-size__desktop;
        @media only screen and(max-width: $breakpoint_mobile) {
            font-size: $text-small-font-size__mobile;
            line-height: $text-small-line-height__mobile;
        }
    }
}