@font-face {
    font-family: "Eczar-Bold";
    src: url("/fonts/Eczar-Bold.ttf");
}
@font-face {
    font-family: "Eczar-SemiBold";
    src: url("/fonts/Eczar-SemiBold.ttf");
}
@font-face {
    font-family: "Eczar-ExtraBold";
    src: url("/fonts/Eczar-ExtraBold.ttf");
}