// This file holds detailed font-size information 


// *******************
// Desktop Breakpoints
// *******************


// ********
// Headline

// Headline - Teaser Extra Large
$headline-teaserxl-font-size__desktop: 90px;
$headline-teaserxl-line-height__desktop: 90px;

// Headline - Teaser
$headline-teaser-font-size__desktop: 80px;
$headline-teaser-line-height__desktop: 80px;

// Headline - Extra Extra Large
$headline-xxlarge-font-size__desktop: 50px;
$headline-xxlarge-line-height__desktop: 50px;

// Headline - Extra Large
$headline-xlarge-font-size__desktop: 43px;
$headline-xlarge-line-height__desktop: 43px;

// Headline - Large
$headline-large-font-size__desktop: 36px;
$headline-large-line-height__desktop: 36px;

// Headline - Medium
$headline-medium-font-size__desktop: 32px;
$headline-medium-line-height__desktop: 32px;

// Headline - Small
$headline-small-font-size__desktop: 25px;
$headline-small-line-height__desktop:25px;

// Headline - Extra Small
$headline-xsmall-font-size__desktop: 21px;
$headline-xsmall-line-height__desktop:21px;


// *********
// Paragraph

// Paragraph - Large
$text-large-font-size__desktop: 28px;
$text-large-line-height__desktop: 35px;

// Paragraph - Medium
$text-medium-font-size__desktop: 24px;
$text-medium-line-height__desktop: 30px;

// Paragraph - Small
$text-small-font-size__desktop: 21px;
$text-small-line-height__desktop:25px;





// *******************
// Mobilie Breakpoints
// *******************


// ********
// Headline

// Headline - Teaser Extra Large
$headline-teaserxl-font-size__mobile: 56px;
$headline-teaserxl-line-height__mobile: 56px;

// Headline - Teaser
$headline-teaser-font-size__mobile: 49px;
$headline-teaser-line-height__mobile: 49px;

// Headline - Extra Extra Large
$headline-xxlarge-font-size__mobile: 43px;
$headline-xxlarge-line-height__mobile: 43px;

// Headline - Extra Large
$headline-xlarge-font-size__mobile: 34px;
$headline-xlarge-line-height__mobile: 34px;

// Headline - Large
$headline-large-font-size__mobile: 30px;
$headline-large-line-height__mobile: 30px;

// Headline - Medium
$headline-medium-font-size__mobile: 25px;
$headline-medium-line-height__mobile: 25px;

// Headline - Small
$headline-small-font-size__mobile: 21px;
$headline-small-line-height__mobile:21px;

// Headline - Extra Small
$headline-xsmall-font-size__mobile: 18px;
$headline-xsmall-line-height__mobile: 18px;



// *********
// Paragraph

// Paragraph - Large
$text-large-font-size__mobile: 23px;
$text-large-line-height__mobile: 30px;

// Paragraph - Medium
$text-medium-font-size__mobile: 19px;
$text-medium-line-height__mobile: 25px;

// Paragraph - Small
$text-small-font-size__mobile: 16.5px;
$text-small-line-height__mobile:19px;

