@import "../../scss/global.scss";

.image {
    max-width: 100%;
    height: auto;
    box-shadow: 1px 1px 2px 1px #7a7a7a;
}

.panel {
    width: 80%;
    margin: 60px auto;

    &__background {
        width: 100vW;
        top: 0;
        left: 0;
        height: 100vH;
        overflow-y: scroll;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.699);

        &-icon {
            width: 50px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
    
    &__head {
        display: flex;
        padding: 30px;
        min-height: auto;
        background-color: rgb(245, 245, 245);
        .headline {
            padding-left: 20px;
            margin: auto auto auto 0;
            min-height: 50px;
        }
        &-icons {
            position: relative;
            padding: 20px;
            width: 40px;
            margin-left: auto;
            display: flex;
        }
    }

    &__icon {
        margin-top: 0px;
        height: 40px;
        vertical-align: middle;
        margin-left: auto;
    }

    &__image {
        width: 100%; 
        
        .image {
            width: 100%; 
            height: auto;
            cursor: zoom-in;
        }
    }

}