@import "../../scss/global.scss";

.link {
    color: rgb(255, 72, 0);
    &__internal {
        
    }
    
    &__external {
        
    }
    font-weight: bold;
    line-height: $text-medium-line-height__desktop;
    font-size: $text-medium-font-size__desktop;
    @media only screen and(max-width: $breakpoint_mobile) {
        font-size: $text-medium-font-size__mobile;
        line-height: $text-medium-line-height__mobile;
    }
}